@media(max-width: 860px) {
    #menu ul {
        padding-right: 12%;
    }
}

@media(max-width: 830px) {
    #menu ul {
        margin-right: 12%;
    }
    #footer .info {
        margin-right: 4%;
    }
}

@media(max-width: 786px) {
    #menu ul {
        margin-right: 12%;
    }
    #footer .info {
        margin-right: 6%;
    }
}

@media(max-width: 728px) {
    #menu ul {
        margin-right: 30%;
    }
    #footer .info {
        margin-right: 9%;
    }
}

@media(max-width: 670px) {
    #header {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    #header .logo {
        text-align: center;
    }
    #menu {
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    #menu ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    #content {
        column-gap: 0px;
        margin-right: 10px;
    }
    #projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .project {
        margin-bottom: 15px;
        margin-right: 0px;
    }
    #footer {
        grid-template-columns: 100%;
    }
    #footer .logo {
        align-content: center;
        text-align: center;
    }
    #footer .info {
        text-align: center;
        align-content: center;
    }
}

@media(max-width: 600px) {
    #content {
        grid-template-columns: 100%;
        margin: 10px;
    }
    #sidebar {
        margin: 0px;
        padding: 0px;
    }
    #sidebar ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }
}

@media(max-width: 500px) {
    #projects {
        gap: auto;
        grid-template-columns: repeat(auto-fill, 170px);
        justify-content: space-around;
    }
}

@media(max-width: 405px) {
    #projects {
        gap: auto;
        grid-template-columns: 100%;
        justify-content: space-around;
    }
}